<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
   <title>AngularJS Chartjs Directive</title>
   <meta name="description" content="chartjs-directive.">
   <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body class="container-fluid" ng-app="appTable" ng-controller="DemoController">
<div class="row">
   <div class="col-md-8">
      <table st-table="rowCollection" class="table table-striped">
         <thead>
         <tr>
            <th>first name</th>
            <th>last name</th>
            <th>balance</th>
            
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="row in rowCollection">
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.balance}}</td>
            <td>
               <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                  <i class="glyphicon glyphicon-remove-circle">
                  </i>
               </button>
            </td>
         </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-4">
      <form class="form-horizontal">
         <div class="form-group">
            <label for="input_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
               <input id="input_name" class="form-control" ng-model="newData.firstName"/>
            </div>
         </div>
         <div class="form-group">
            <label for="input_lastName" class="col-sm-2 control-label">lastName</label>
            <div class="col-sm-10">
               <input id="input_lastName" class="form-control" ng-model="newData.lastName"/>
            </div>
         </div>
         <div class="form-group">
            <label for="input_balance" class="col-sm-2 control-label">balance</label>
            <div class="col-sm-10">
               <input id="input_balance" class="form-control" ng-model="newData.balance"/>
               <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
                  <i class="glyphicon glyphicon-plus">
                  </i> Add random item
               </button>
            </div>

         </div>
      </form>

   </div>
</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
<script type="text/javascript" src="bower_components/angular-chartjs-directive/chartjs-directive.js"></script>
<script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script type="text/javascript" src="lib/app.smartable.js"></script>
</body>
</html>
